#form {
    background: #b01212;
    margin-top: -200px;
}

#form button[type=submit]{
    float: left;
    border-radius: 20px;
    padding: 10px 20px;
    background: #b01212;
    border: none;
}

#form label{
    font-weight: 600;
}

#form input, #form select{
    border-radius: 20px;
}

#form input[type=checkbox]{
    border-radius: 2px;
}

.shapebck{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin-top: 8.75rem;
}

.svg-1{
    position: relative;
    width: 65%;
    top: -10%;
}

.svg-2{
    position: absolute;
    width: 65%;
    left: 2%;
    top: -10%;
}

h1.title{
    font-size: 3rem;
    color: #b01212;
}

h2.subtitle{
    font-size: 2.8rem;
    color: #b01212;
}

.img-top {
    width: 60%;
}